body {
  padding: 0;
  margin: 0;
  background-color: #e4e7ff;
  font-family: Palatino, serif;
}

.app {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.app-header {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(145 153 226);
}

.app-header-content {
  flex: 1;
  max-width: calc(min(1000px, 100% - 60px));
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.app-header-content .title {
  color: #4c4f6e;
  font-size: 1.5rem;
}

.dark-mode-toggle {
  all: unset;
  position: relative;
  cursor: pointer;
  width: 90px;
  height: 40px;
  background-color: #c5c5c5;
  border-radius: 20px;
}

.dark-mode-toggle .toggle-thumb {
  display: inline-block;
  width: 34px;
  height: 34px;
  border-radius: 17px;
  position: absolute;
  top: 3px;
  left: 3px;
  background-color: #f2da1a;
  transition:
    background-color 0.1s linear,
    left 0.1s linear;
  z-index: 0;
}
.app.dark-mode .dark-mode-toggle .toggle-thumb {
  left: calc(100% - 3px - 34px);
  background-color: #350d90;
}

.dark-mode-toggle .light-icon,
.dark-mode-toggle .dark-icon {
  display: inline-block;
  width: 34px;
  height: 34px;
  position: absolute;
  top: 3px;
  z-index: 10;
  opacity: 0.5;
  transition: opacity 0.1s linear;
}
.dark-mode-toggle .light-icon {
  left: 3px;
  background-size: contain;
}
.app.light-mode .dark-mode-toggle .light-icon {
  opacity: 1;
}
.dark-mode-toggle .dark-icon {
  right: 3px;
  background-size: contain;
}
.app.dark-mode .dark-mode-toggle .dark-icon {
  opacity: 1;
}

.app-body {
  flex: 1;
  overflow-y: scroll;
  overscroll-behavior: contain;
  width: 100%;
  display: flex;
  justify-content: center;
}

.app-body-content {
  flex: 1;
  max-width: calc(min(1000px, 100% - 60px));
}

.image-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-wrapper {
  margin: 20px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-wrapper img {
  object-fit: contain;
  max-width: 100%;
  height: auto;
  max-height: 600px;
  display: block;
  border-radius: 4px;
}
.image-wrapper .image-dark {
  position: absolute;
  top: 0;
}

.image-list img {
  opacity: 0;
  transition: opacity 0.1s linear;
  z-index: 1;
}
.app.light-mode .image-light {
  opacity: 1;
  transition: none;
  z-index: 0;
}
.app.dark-mode .image-dark {
  opacity: 1;
  transition: none;
  z-index: 0;
}
